<div class="medium-centerdiv">
	<div class="centertext">
		<h3>What is No More Hangry?</h3>
		<p>Nowadays, people are plagued with the question: "What do I want to eat?" Sites like Seamless and GrubHub give us too many choices and too many steps. No More Hangry has the solution. Introducing the new food app that makes decisions easier!</p>

		<p>If we are asked whether we want Mexican food, chances are, we aren't so sure. But, if we are asked whether we want a steak burrito for 5 dollars, then decision is much easier. We don't know what we want to eat until we see the exact item and the exact price. Agreed?</p>

		<p>No More Hangry eliminates the top down search structure of selecting a food category, then a restaurant from that food category, to an entree in that restaurant.By showing the food first, No More Hangry focuses on the important deciding factors: what entree looks good and its price.</p>

		<p>Create an account, save your address, payment details, and preferences once and No More Hangry will do the rest. For example, an image of a delicious entree under $10 with at least 3 stars will be displayed to you. Dont like it? Click "Randomize" to see another entree. If you are satisfied with the current entree, all you have to do is click the "Order Now" button and the food is on its way to your doorstep.</p>

	</div>
</div>