<body>
	<div class='container'>
		<div class='centerdiv'>
			<p>For administrative use only</p>
			FOOD
			<form id="foodForm" action="" method="post" class="form-signin">
				<input type="text" name="fName" class="form-control" placeholder="Food Name"></input>
				<input type="text" name="fPrice" class="form-control" placeholder="Price"></input>
				<input type="text" name="fRating" class="form-control" placeholder="Rating"></input>
				<input type="text" name="fNumRating" class="form-control" placeholder="Number of Ratings"></input>
				<input type="text" name="fType" class="form-control" placeholder="Food Type"></input>
				<input type="text" name="fRestaurant" class="form-control" placeholder="Restuarant"></input>
				<input type="text" name="fZip" class="form-control" placeholder="Zip Code"></input>
				<input type="text" name="fNumView" class="form-control" placeholder="Number of Views"></input>
				<input type="text" name="fNumOrder" class="form-control" placeholder="Number of Orders"></input>
				<input type="text" name="fImg" class="form-control" placeholder="Image Path"></input>

				<input type="submit" name="addFood" value="Add Food" class="btn btn-success"</input>
		</div>
	</div>
</body>