<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='stylesheets/bootstrap-theme.css' />
    <link rel='stylesheet' href='stylesheets/bootstrap.min.css'>
    <link rel='stylesheet' href='stylesheets/style.css' />
  </head>
  <header class ="header">
    <h1 class="main-header">NO MORE HANGRY</h1>
    <h1 class="main-header">  ٩(๑`^´๑)۶</h1>
    <ul class="header-subnav">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/food">Get Food</a></li>
      <li><a href="/add">Database</a></li>
      {{#if user}}
        <li class="dropdown">
          <a href="/settings" class="dropdown-toggle" type="button" data-toggle="dropdown">{{user.firstname}}
          <span class="caret"></span></button>
          </a>
          <ul class="dropdown-menu">
            <li class="dropdownli"><a href="/settings">Settings</a></li>
            <li class ="dropdownli"><a href="#">My Orders</a></li>
            <li role="separator" class="dropdownli divider"></li>
            <li class="dropdownli"><a href="/logout">Log Out</a></li>
          </ul>
        </li>
      {{else}}
        <li><a href="/login">Log In</a></li>
      {{/if}}  
    </ul>
  </header>
  </body>

   
    {{{body}}}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="javascripts/bootstrap.min.js"></script>
  </body>
</html>
